@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
:root {
  --container-szie: 940px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
.header,
.visual,
.main,
.slogan,
.fotter-inner {
  width: var(--container-szie, 940px);
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: #3d8fcb;
  height: 10vh;
}

/* 비주얼 */
.visual {
  background-color: #a0acde;
  height: 10vh;
}
/* 메인 */
.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; /*메인축 정렬 메인축을 나누는 기준은 디렉션 flex 방향 row = x축 colum= y축*/
  background-color: #cac6de;
  height: 60vh;
}
.group {
}
/* 슬로건 */
.slogan {
  background-color: #e2dee0;
  height: 10vh;
}
/* 푸터 */
.footer {
  background-color: #ecf1e9;
}
.fotter-inner {
  background-color: #3d8fcb;
  height: 10vh;
}
.group1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #005289;
}
.group2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #4d9cbb;
}

.group3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #d9ecf3;
}
