@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
:root {
  --container-szie: 940px;
}

/* 버튼 스타일 */
button {
  width: 100px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}
.header,
.visual,
.main,
.slogan,
.fotter-inner {
  width: var(--container-szie, 940px);
  margin: 0 auto;
}

/* 헤더 */
.header {
  position: relative;
  border-radius: 0 0 15px 15px;
  background-color: #3d8fcb;
  height: 120px;
  padding: 0 50px;
}
.heading {
  position: absolute;
  background-color: #005289;
  top: 45px;
  left: 25px;
}
/* 비주얼 */
.visual {
  background-color: #a0acde;
  height: 10vh;
}
/* 메인 */
.main {
  min-height: 450px;
  display: flow-root;
  background-color: #cac6de;
  padding: 28px 16px 36px;
}
.group {
  float: left;
  justify-content: center;
  align-items: center;
}
.group:nth-child(n + 2) {
  margin-left: 44px;
}
/* 슬로건 */
.slogan {
  clear: both;
  background-color: #443c40;
  height: 10vh;
}
/* 푸터 */
.footer {
  background-color: #ecf1e9;
}
.fotter-inner {
  background-color: #3d8fcb;
  height: 10vh;
}
.group1 {
  width: 250px;
  background-color: #005289;
}
.group2 {
  width: 380px;
  background-color: #4d9cbb;
}

.group3 {
  width: 190px;
  background-color: #d9ecf3;
}

/* flex를 지원하는 웹브라우저를 위한 스타일 */
@supports (display: flex) {
  .main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .group {
    float: left;
    justify-content: center;
    align-items: center;
  }
}
